#logo .dashboard-logo img {
    max-height: 60px;
}

.dashboard #logo {
    background-color: #fff;
}

.dashboard-nav {
    background-color: #fff;
}

.dashboard-nav ul li a {
    color: #000;
}

a:focus,
a:hover {
    text-decoration: none;
    color: #f91942 !important;
}

a.button:hover {
	color: #fff !important;
}

i.im:hover {
    color: #fff;
}

.icon-box-2 i:hover {
    color: #f91942;
}

img.footer-logo {
    max-height: 65px !important;
}

#dashboard .notice {
    background-color: #3184ae;
}

table.basic-table {
    background-color: #fff;
}

table.basic-table tr:nth-child(odd) {
    background-color: #fff;
}

table.basic-table tr:hover {
    background-color: #f7f7f7;
}

input.search-field {
    border-radius: 52px;
}

.status {
    padding: 10px 20px;
    color: #fff;
    border-radius: 25px;
}

.h-status {
    padding: 4px 9px;
    color: #fff;
    border-radius: 25px;
}

.success {
    background: #4CAF50;
}

.red {
    background: #f44336;
}

.yellow {
    background: #FF5722;
}

.primary {
    background: #2196F3;
}

.style-2 .tabs-container {
    background-color: #fff;
}

.get-app-section {
    text-align: left;
}

.get-app-section {
    text-align: center;
    padding: 40px 0;
    display: inline-block;
    width: 100%;
}

.get-app {
    margin-left: 100px;
}

.get-app-header1 {
    text-align: left;
    padding: 0px 15px;
}

.get-app-header2 {
    text-align: left;
    padding: 0px 15px 5px 15px;
    color: #f91942;
}

.copyrights2 {
    color: #707070;
    text-align: center;
    padding: 25px 0;
    display: inline-block;
    width: 100%;
    text-align: left;
    padding-left: 15px;
}